.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin-top: 20px;

  &__link {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #4711ae;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s;
    max-width: fit-content;
    &:not(:last-child){
      margin-bottom: 20px;
    }
    &:hover {
      background-color: #2a0671;
      transition: background-color 0.5s;
    }
  }
}
